* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
    width: 100vw;
    height: 100vh;
}
nav {
    width: 100vw;
    height: 5.5vh;
    display: flex;
    align-items: center;
    padding: 30px;
    justify-content: space-around;
}
.search-bar{
    width: 30vw;
    display: flex;
    align-items: center;
}
.first{
    font-size: 2.15vw;
    color: #0675e8;
    cursor: pointer;
}
.serqBar{
    border: none;
    border-radius: 25px;
    outline: none;
    background-color: #F0F2F5;
    margin: 7px;
    width: 12.6vw;
    height: 3.6vh;
    font-size: 15px;
    padding: 10px;
}
main{
    padding:15px;
    width: 100vw;
    height: 94.5vh;
    display: flex;
    background-color: #F0F2F5;
}
.btns{
    width: 40vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.btn{
    padding: 10px 30px;
    border: none;
    outline: none;
    background-color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2vw;
    font-weight: 300;
}
.btn:hover{
    background-color: #F0F2F5;
    transition: .3px;
}
.Extreme_Right{
    width: 30vw;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0;
    padding: 0;
}
.Bukuroshi{
    border-radius: 50%;
    width:1.5vw;
    margin-right: 10px;
}
.profile{
    border: none;
    outline: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 15px;
    padding: 5px;
    border-radius: 30px;
    font-weight: bold;
    margin: 2.5px;
}
.create {
    margin: 2.5px;
    padding: 10px;
    border-radius: 75%;
    font-size: 1vw;
    border: none;
    outline: none;
    background-color: #F0F2F5;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 20px;
    text-align: center;
}
.create:hover{
    background-color: #D8DADF;
    transition: .3s;
}
.categories{
    margin-left: 15px;
    width: 15vw;
    height: auto;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid lightgray;
}
.cate_btns{
    margin-left: -10px;
    display: flex;
    align-items: center;
    border: none;
    outline: none;
    border-radius: 5px;
    background-color: #F0F2F5;
    cursor: pointer;
    padding: 10px;
    font-size: .9375rem;
    font-family: Segoe UI;
    font-weight: 500;
    color: #5f6061;
}
.cate_btns:hover{
    background-color: #e4e6e9;
}
.none{
    display: none;
}
p{
    padding: 5px;
}
.down{
    display: inline-block;
    border-radius: 60px;
    box-shadow: 0px 0px 2px #888;
    padding: 0.4em 0.5em;
    background-color: #d8dadf;
    height: 30px;
    width: 30px;
    margin-right: 8.5px;
}
.settings{
    padding-left: 3.5px;
    padding-right: 3.5px;
}
.stili {
    height: 1.5vh;
    width: 1.5vw;
    font-size: 1.3vw;
    margin-right: 10px;
}
.shortcuts{
    padding: 5px;
    color: #5f6061;
    display: flex;
    flex-direction: column;
}
h3{
    margin: 10px 0px 10px 10px;
    font-family: Segoe UI;
}
.best-gejm{
    width:2vw;
}
.actual-shortcuts{
    margin-left: 0;
    display: flex;
    align-items: center;
}